body.class-for-index {
	background-image: url("http://eoimages.gsfc.nasa.gov/images/imagerecords/57000/57723/globe_west_2048.jpg");

  }
 
h1 {
	text-align: center;
 	color: white;
 	font-family: 'roboto', sans-serif;
 	font-size: 45px;


 }

.page-content {
	font-family: 'roboto', sans-serif;
	text-align: center;
	color: white;
	size: 60px;

}


#chartdiv {
	margin-top:50px;	
  width: 100%;
  height: 500px;

}			

.page-africa {
	font-family:'roboto', sans-serif;
	font-size: 30px;
	color: white;
	text-align: center;

}
.page-russia {
	font-family: 'roboto', sans-serif;
	color: white;
	font-size: 30px;
	text-align: center;
}

.page-europe {
	font-family: 'roboto', sans-serif;
	font-size: 30px; 
	color: white;
	text-align: center; 
}

	
.page-asia{
	font-family: 'roboto', sans-serif;
	color: white;
	font-size: 30px;
	text-align: center;
}

.page-northamerica{
	font-family: 'roboto', sans-serif;
	color: white;
	font-size: 30px; 
	text-align: center; 
}

.page-brazil{
	font-family: 'roboto', sans-serif;
	color: white;
	font-size: 30px;
	text-align: center;
}

.page-australia{
	font-family: 'roboto', sans-serif;
	color: white;
	font-size: 30px;
	text-align: center;
}


a {
	color: white;
	font-family: 'roboto', sans-serif;

	
}
a.index3.html{
	color:white;
	text-align: center;
	margin-left: 50px;
}

body.class-for-index2 {
	background-color: black;
	margin: 50px;

}

body.class-for-index3 {
	background-color: black;
	margin: 300px;

}

li {
	color: white;
	font-family: 'roboto', sans-serif;
	margin-top:5px;
	font-size: 25px;

}
p {
	color:white;
	font-family: 'roboto', sans-serif;
	font-size: 20px;
}


h2 {
	font-family: 'roboto', sans-serif;
	color: white;
}
#container {
	margin-top: 200px;
}

